@using AutoScout.Services;
@using AutoScout.Models;


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AutoScout</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @{
        var currentUserId = -1;
        if (Request.IsAuthenticated)
        {
            var db = new AutoScoutDBContext();
            var service = new DealershipAccountService(db);
            currentUserId = service.GetCurrentUserDealershipIdFromIdentity();
        }
    }
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("AutoScout", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    
                    @if (Request.IsAuthenticated)
                    {
                       
                    <li><a href="@Url.Action("Index", "Vehicles")">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Search Inventory
                        </a>
                    </li>
                    <li><a href="@Url.Action("ManageProfile", "Dealerships", new { id = currentUserId }, null)">
                            <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profile Settings
                        </a>
                    </li>
                    }else
                    {
                    <li>@Html.ActionLink("Vehicle Search", "Index", "Vehicles")</li>
                        
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @Scripts.Render("~/bundles/knockout")
        @RenderBody()
        <hr />
        <footer class="col-md-offset-1">
            <p>&copy; @DateTime.Now.Year - AutoScout</p>
        </footer>
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
    
</body>
</html>
