@model AutoScout.Models.Vehicle
@using AutoScout.Models

@*By: Evan Bauer & Ryan Mazzocco
     December 2016
    Vehicles/ShortcutListItem.cshtml*@

@{
    var db = new AutoScoutDBContext();
    var dealershipName = db.Dealerships.FirstOrDefault(x => x.Id == Model.DealershipId).CompanyName;
    var dealershipId = db.Dealerships.FirstOrDefault(x => x.Id == Model.DealershipId).Id;
    var images = db.VehicleImages.Where(x => x.VehicleId == Model.Id).ToList();

    if (images.Count > 0)
    {
        var image = images.FirstOrDefault();
        var base64 = Convert.ToBase64String(image.ImageBytes);
        var imgSrc = string.Format("data:image/png;base64,{0}", base64);
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5>@Model.Year @Model.Make @Model.Model</h5>
                </div>
                <div class="panel-body">
                    <div style="position:relative; height: 150px">
                        <img src="@imgSrc" class="img-rounded img-responsive img-thumbnail center-block" style="max-height: 150px" />
                    </div>
                    <h5 class="price">$@Model.Price</h5>
                    <div class="btn-group-vertical btn-group-xs center-block" role="group" aria-label="">
                        <button id="detailsButton" onclick="location.href = '@Url.Action("Details", "Vehicles", new { id = Model.Id })'" type="button" class="btn btn-default"><span class="glyphicon glyphicon-info-sign"></span> Vehicle Details</button>
                        <button type="button" onclick="location.href = '@Url.Action("Details", "Dealerships", new { id = dealershipId })'" class="btn btn-default"><span class="glyphicon glyphicon-user"></span> @dealershipName</button>
                    </div>
                </div>
            </div>
        </div>

    }


}

